.listing-photo {
  height: 600px;
  width: 50%;
  object-fit: cover;
  border-radius: 30px;
  float: right;
}

.listing-heading {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 15px;
}

.listing-location {
  font-size: 24px;
  margin-bottom: 15px;
}

.listing-features > .section-heading {
  color: #4a4a4a;
  font-size: 24px;
  margin-bottom: 15px;
}

.listing-features {
  margin-bottom: 20px;
}

.listing-features li {
  font-size: 14px;
}

li {
  list-style-type: none;
}

.listing-apply .section-heading {
  font-size: 18px;
  margin-bottom: 15px;
}

label, input {
  display: block;
}

label {
  color: #4a4a4a;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

input {
  font-size: 16px;
  margin-bottom: 15px;
  padding: 10px;
  width: 400px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid .3px;
}

button.primary {
  padding: 10px;
  border: solid 1px #555;
  background: #555;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button.primary:hover {
  background: #333;
}

@media (max-width: 1024px) {
  .listing-photo {
    width: 100%;
    height: 400px;
  }
}